@import "../../../node_modules/antd/dist/antd.min.css";

.x6-widget-transform {
  margin: -2px 0 0 -2px;
  padding: 2px;
  border: unset;
  border-radius: unset;
}

.x6-widget-selection-box {
  pointer-events: none !important;
}

.mainStage {
  overflow: auto;
  height: calc(100vh - 100px);
  width: calc(100vw - 250px);
}

/* width */
.mainStage::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

/* Track */
.mainStage::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px;
}

/* Handle */
.mainStage::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 10px;
}

/* Handle on hover */
.mainStage::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.mainStage::-webkit-scrollbar-corner {
  background-color: transparent;
}

.minimapStage {
  display: flex;
  justify-content: center;
}

.documentTitle,
.documentTitle:active,
.documentTitle:focus-within,
.documentTitle:focus-visible,
.documentTitle:target,
.documentTitle:focus {
  border: 0;
  padding: 0;
  margin-top: 2px;
  outline: none;
  background-color: unset;
  width: fit-content;
  font-size: 20px;
}

.documentTitle:focus {
  outline: 1px solid orange;
  border-radius: 2px !important;
  width: fit-content !important;
}

.documentInput,
.documentInput:active,
.documentInput:focus-within,
.documentInput:focus-visible,
.documentInput:target,
.documentInput:focus {
  border: 0;
  padding: 0;
  outline: none;
  background-color: unset;
  width: -webkit-fill-available !important;
  overflow: hidden;
  resize: none;
}

.documentInput:focus {
  resize: none;
}
